body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
/* ——— ЭКРАН ОЖИДАНИЯ ——— */
.screen {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 9rem;
    color: white;
    text-shadow: 0 0 30px #5ecbff, 0 0 60px #5ecbff;
    font-weight: bold;
    margin-bottom: 80px;
}

.play-button {
    font-size: 4rem;
    padding: 25px 80px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(135deg, #5ecbff, #0080ff);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 25px rgba(0,140,255,0.7);
    transition: 0.3s;
}

.play-button:hover {
    transform: scale(1.05);
}

/* ——— ВИДЕО ——— */
video {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: 10;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ——— РЕЗУЛЬТАТ ——— */
.result {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}


.result-card {
    background: rgba(30, 30, 50, 0.9);
    padding: 40px 60px;
    border-radius: 30px;
    text-align: center;
    color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

/* Возвращаем заголовку его обычный вид */
.win-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.item-name {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    transition: color 0.3s, text-shadow 0.3s; /* Плавный переход */
}

/* --- ЦВЕТА РЕДКОСТИ ДЛЯ НАЗВАНИЯ ПРЕДМЕТА --- */
.item-name-blue {
    color: #5ecbff;
    text-shadow: 0 0 15px #5ecbff, 0 0 25px #5ecbff;
}

.item-name-purple {
    color: #c774ff;
    text-shadow: 0 0 15px #c774ff, 0 0 25px #c774ff;
}

.item-name-orange {
    color: #ff9a4f;
    text-shadow: 0 0 15px #ff9a4f, 0 0 25px #ff9a4f;
}

.item-name {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 40px;
}

/* кнопки */
.buttons {
    display: flex;
    justify-content: center;
}

.close-button {
    padding: 15px 40px;
    font-size: 1.8rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #ff5e7e; /* Цвет можно оставить или поменять на более нейтральный */
    color: white;
    transition: transform 0.2s; /* Добавим небольшую анимацию для красоты */
}
.close-button:hover {
    transform: scale(1.05);
}